body{
    margin: 0px;
    padding: 0px;
    background-image:url(images/20241031_165336-fotor-ai-art-effects-20241103071354.jpg) ;
    background-color: #04121B;
}






.nav{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;

    button{
        border-radius: 8px;
        background-color:gray ;
        color: white;
        text-decoration: none;
    }
    
}

.nav:hover{
    color: blue
}

.reach{
    
    h1{
    background-color:#0C212C;
    border: 1px solid ;
    text-align: center;
    border-radius: 15px;
    padding: 30x;
    color: #AAAAAA;
    

}

    a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80px;
    column-gap: 60px;
    text-decoration: none;
        
}

}

.bee a{
    float: left;
    width:  100px;
    height: 100px;
    
    /* display: flex; */
    align-content: center;
    margin-left: 200px;
    margin-top: 100px;
    
}


@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .bee img {
      height: 50%;
      animation: rotate 2s infinite linear;
  }
