body{
    margin: 0px;
    padding: 0px;
    background-color: #04121B;
    background-repeat: no-repeat;
    
}

.side{
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    display: flex;
    justify-content:space-between;
    margin-left: 30px;
    margin-top: 80px;
    gap: 20px;

}

.roll{
    color: #AAAAAA;
   
}

.to{
    text-align: center;

    h1{
        margin-right: 30px;
        font-size: 35px;  
    }

    }

.for{
 display: flex;
    
   
}
.test{
    align-items: center;
    margin-left: 30px;
}

.ball a{
    display: flex;
    float: left;
    margin-left: 40px;
    width: 250px;
    height: 100px;
    margin-top: 20px;
    gap: 80px;
}


.nav{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;

    button{
        border-radius: 8px;
        background-color:gray ;
        color: white;
        text-decoration: none;
    }
    
}

.nav:hover{
    color: blue
}


