body{
    margin: 0px;
    padding: 0px;
    background-image:url(images/20241031_165336-fotor-ai-art-effects-20241103071354.jpg) ;
    background-color: #04121B;
}






.nav{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    
}

.nav:hover{
    color: blue;
}

.reach{
    
    h1{
    color:gr;
    border: 1px solid ;
    text-align: center;
    border-radius: 15px;
    padding: 30x;

}

    a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80px;
    column-gap: 60px;
        
}

}

.bee a{
    float: left;
    width:  100px;
    height: 100px;
    
    /* display: flex; */
    align-content: center;
    margin-left: 200px;
    margin-top: 100px;
    
}
